section {
  display: flex;
  align-content: space-between;
}

div {
  display: flex;
  align-content: space-between;
  width: 100px;
  height: 100px;
  background-color: lightblue;
  font-size: 14px;
  justify-content: center;
  margin: 10px;
}
